<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${student.firstName})">
</head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="gif-detail container">
    <div class="frame row">
        <div class="col s12 actions">
            <img th:src="@{|/students/${student.id}.jpg|}" alt="jpg" />
        </div>
    </div>
    <div class="meta row">
        <div class="col s10 l11 push-l1">
            <h4 th:text="|Student Name: ${student.firstName} ${student.secondName}|"></h4>
            <h4 th:text="|Student Nationality: ${student.nationality}|"></h4>
            <h4 th:text="|Student Email: ${student.email}|"></h4>
            <h4 th:text="|Student Passport Number: ${student.passportNumber}|"></h4>

            <div>
                <span class="classroom"><a th:href="@{|/classrooms/${student.classroom.id}|}" th:text="|Classroom: ${student.classroom.className}|"></a></span>
                <div class="actions">
                    <a th:href="@{|/students/${student.id}/edit|}">Edit</a>
                    <form th:action="@{|/students/${student.id}/delete|}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="layout :: scripts"></div>
</body>
</html>