<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('upload')">


</head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container upload">
    <div class="row">
        <div class="col s12">
            <h2>Upload</h2>
            <div class="subtitle">Upload a Student photo below with the relevant details and select a classroom</div>
        </div>
    </div>
    <div class="divider"></div>
    <form th:action="@{/students}" method="post" th:object="${student}" enctype="multipart/form-data">
        <div class="row">
            <div class="col s12 l8">
                <div class="file-wrapper">
                    <input type="file" id="file" name="file"/>
                    <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
                    <label for="file" class="button">Search</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{firstName}" placeholder="First Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{secondName}" placeholder="Last Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{nationality}" placeholder="Nationality"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{email}" placeholder="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <input type="text" th:field="*{passportNumber}" placeholder="Passport Number"/>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8">
                <select th:field="*{classroom.id}" class="cs-select cs-skin-border">
                    <option value="" disabled="disabled">Select a classroom</option>
                    <option th:each="room : ${classrooms}" th:value="${room.id}"  th:text="${room.className}" style="color:#59b3b3">Technology</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="button">Upload</button>
                <a href="javascript:window.location = document.referrer;" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>